.topbar {
  width: 100%;
  height: 50px;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 99;
}

.topbar__wrapper {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar__left {
  display: flex;
  align-items: center;
  gap: 3.8rem;
}

.topbar__search {
  display: flex;
  align-items: center;
}

.topbar__search > input {
  border: none;
  color: gray;
  font-size: 0.7rem;
  padding: 6px 8px;
  outline: none;
}

.topbar__logo {
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.topbar__right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.topbar__iconContainer {
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.topbar-iconContainer__text {
  padding: 8px 24px;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 0.7rem;
  font-weight: 700;
}

.topbar-iconContainer__text span {
  font-weight: 900;
}

.topbar-icon__badge {
  width: 10px;
  height: 10px;
  font-size: 0.6rem;
  position: absolute;
  top: 1px;
  left: 10px;
  color: #fff;
  background: blue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar__image > img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}
